.b
  font-size: 20px
  line-height: 1
  &__row
    display: flex;
    & + &
      margin-top: 12px
  &__td
    &_title
      width: 180px
      padding-right: 6px
    &-text
      & + &
        margin-left: 6px

      &_link
        font-size: 18px
