.modal-request-rules
  &__row
    & + &
      margin-top: 16px

.device-size
  &-medium, &-large
    .modal-request-rules
      .modal-request-rules__row + .modal-request-rules__row
        margin-top: 20px
      .modal-request-rules__row_sz-2 + .modal-request-rules__row_sz-2
        margin-top: 32px
      &__btn
        display: block;
        max-width: 196px
        margin: 0 auto

        &_sz-2
          max-width: 165px
