.popover-order-item-info
  width: 218px
  padding: 20px
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
  font-size: 18px
  background: #fff;

.device-size
  &-medium, &-large
    .popover-order-item-info
      width: 398px
