<div class="mxn-modal mxn-modal_sz-large modal-rules">
  <div class="modal-rules__html">
    Правила возврата билетов, приобретенных в Московском Планетарии

    Возврат билетов производится в размере 100% от стоимости билетов, обращение возможно не позднее, чем за 30 минут до начала сеанса. При обращении менее чем за 30 минут до сеанса, возврат не предусмотрен.

    Правила возврат билетов, приобретенных в Московской Консерватории

    Если  билеты были приобретены  по акции (с какой-либо скидкой) возврат невозможен.
    В остальных случаях:
    • При отмене более чем за 10 дней до начала мероприятия вам вернется полная сумма.
    • При отмене за 10 дней и менее,  вам вернется 50% от стоимости заказа.
    • При отмене менее чем за 5 дней, вам вернется 30% от суммы заказа.
    • К сожалению, менее чем за 72 часа до начала концерта возврат невозможен.
  </div>
  <div class="modal-rules__footer">
    <app-button-action class="modal-rules__btn">
      Подтвердить
    </app-button-action>
  </div>
</div>
