@import "vars.styl"

.b
  padding: 16px
  border-radius: 12px
  font-size: 18px
  background: $c-bg-1;

  &__row
    display: flex;
    margin: 0 -6px

    & + &
      margin-top: 15px
      padding-top: 15px
      border-top: 1px solid $c-theme-7

  &__td
    width: (100%/6)
    margin: 0 6px

    &_btn
      flex: 0 0 160px

    &-row
      &_ico
        background: red;
      & + &
        margin-top: 4px

    &-text
      &_light
        font-size: 16px
        color: $c-theme-5;
