<div class="order-request">
  <div class="order-request__row">
    <app-order-request-phone
      [ordersError]="ordersError"
      [ordersFetching]="fetching"
      (login)="onLogin($event)"
      (loginCode)="onLoginCode($event)"
    ></app-order-request-phone>
  </div>

  <div class="order-request__row" *ngFor="let order of orders">
    <app-order-info [order]="order"></app-order-info>
  </div>
  <div class="order-request__row">
    <app-order-request-found></app-order-request-found>
  </div>
</div>

