@import "vars.styl"

div, header, nav, section
  box-sizing: border-box
  -webkit-tap-highlight-color: transparent;
  outline: none

html, body
  position: relative
  height: 100%

a
  text-decoration: none
  color: inherit

body
  font-family: $ff-1
  line-height: 1.2
  font-weight: 400
  -webkit-font-smoothing: antialiased
  scroll-behavior: smooth;
  background: $c-bg-1;
