.b
  &__btn
    margin: 12px 0 0;

::ng-deep .device-size
  &-medium, &-large
    app-order-request-phone
      .b
        .b__input
          flex: 1 0 auto;
          max-width: 300px;
          width: 100%;

        .b__input-wrap
          display: flex;
          flex-wrap: wrap;

        .b__btn
          display: flex;
          flex: 0 1 132px;
          margin: 0 0 0 20px
