<!--<div class="device-size-{{viewportState.size}}">-->
  <div class="section-head">
    <div class="mxn-container">
      <div class="section-head__row">
        <h1 class="section-head__title">Отмена заказа</h1>
      </div>
      <div class="section-head__row">
        <p class="section-head__text">
          Уважаемые клиенты, в этом разделе вы можете<br>
          самостоятельно осуществить возврат билетов, согласно<br>
          <span class="mxn-link mxn-link_td">правилам возврата</span> или изменить данные в заказе.
        </p>
      </div>
    </div>
  </div>
<!--</div>-->
