.b
  font-size: 18px
  line-height: 1

  &__row
    display: flex;
    justify-content: space-between;
    padding: 60px 0 0

  &__item
    display: flex;

    &-item
      & + &
        margin-left: 4px
