<div class="mxn-container mxn-container_content-gap">
  <footer class="footer">
    <div class="footer__row">
      <div class="footer__item">
        <span class="footer__text">© {{d | date: 'yyyy'}} Zapomni</span>
      </div>
      <div class="footer__item">
        <div class="footer__item-item">
          <a href="mailto: support@lastick.ru" class="footer__text mxn-link">support@lastick.ru</a>
        </div>
        <div class="footer__item-item">
          <a href="tel: 84951204264" class="footer__text">8 495 120 42 64 (8:00-23:00)</a>
        </div>
      </div>
    </div>
  </footer>
</div>
