@import "helpers.styl"

.mxn-container
  width: 100%
  margin: 0 auto
  max-width _calc(100%, $sideGap * 2)
  //&_content-gap
  //  max-width $content-max-width-1

.device-size
  &-small, &-medium
    .mxn-container
      max-width _calc(100%, $sideGap * 2)

@media all and (min-width: $content-max-width-1 + $sideGap * 2)
  .mxn-container
    max-width 100%
    &_content-gap
      max-width $content-max-width-1

@media all and (min-width: $content-max-width-1 + $sideGapLarge * 2 + 2)
  .mxn-container
    &_content-gap
      max-width $content-max-width-1 + $sideGapLarge * 2
