.mxn-title
  line-height: 1

  &_sz-1
    font-size: 14px
    line-height: 1.2

  &_mb-1
    margin-bottom: 12px

.device-size
  &-large, &-medium
    .mxn-title
      font-weight: 500

.device-size
  &-large
    .mxn-title
      &_sz-1
        font-size: 20px

      &_mb-1
        margin-bottom: 28px
