<div class="mxn-modal mxn-modal_sz-medium modal-request-rules">
  <form class="modal-request-rules__body">
    <div class="modal-request-rules__row modal-request-rules__row_sz-2">
      <p class="modal-request-rules__text">
        Ошибка при оформлении возврата.
        Для решения проблемы обратитесь на <a href="mailto: support@lastick.ru" class="mxn-link">support@lastick.ru</a>
      </p>
    </div>
    <div class="modal-request-rules__row modal-request-rules__row_sz-2">
      <button type="button"
              class="mxn-btn mxn-btn_action mxn-btn_action-sz-3 mxn-btn_full-width mxn-btn_ta-c modal-request-rules__btn modal-request-rules__btn_sz-2">
          ОK
      </button>
    </div>
  </form>
</div>
